<div class="container-fluid">

    <div class="row search-container">

        <div class="form-group col">
            <label>{{ text }} </label>
            <div>
                <input class="form-control" [formControl]="searchControl">
                <button class="btn btn-dark" 
                        [disabled]="!searchControl.valid"
                        (click)="doSearch()">Pesquisar</button>
            </div>
        </div>
        <div class="from-group col">
            <label>Pesquisar com <i>autocomplete</i></label>
        </div>
    </div>

</div>